body 
{
    background-color:#F1F9FF;
    font-family: 'Nunito', sans-serif;
    color:rgba(0,0,0,0.71);
    margin:0;
}

.header
{
    color:white;
    background-color:#3488C0;
    font-size:40px;
    margin:0;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.body
{
    width:80%;
    margin:0 auto 0 auto;
}

.gwt-card
{
    display:inline-block;
    min-width:300px;

    margin-top:15px;

    position:relative;
    left:50%;
}

.group
{
    background-color:#92D3FF;
    padding-left:5px;
    padding-right:5px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top:5px;
    margin-bottom:5px;

    position:relative;
    left:-50%;
}

.group.given
{
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}

.group.then
{
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

.group .row
{
    border-bottom:1px dashed rgba(160,160,160,0.4);
    display:flex;
    padding-top:3px;
    padding-bottom:3px;
}
.group .row:last-child
{
    border-bottom:none;
}

.group label
{
    display:inline-block;
    width:60px;
    text-align:right;
    font-weight:bold;
    flex-grow:0;
    font-size:19px;
}

.group span
{
    padding-left:5px;
    padding-right:20px;
    flex-grow:1;
    font-size:19px;
}
.group span:focus
{
    outline:none;
}