body 
{
    background-color:#F1F9FF;
    font-family: 'Nunito', sans-serif;
    color:rgba(0,0,0,0.71);
    margin:0;
}

.header
{
    color:white;
    background-color:#009688;
    font-size:40px;
    margin:0;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

#help-text
{
    text-align:center;
}

.hidden
{
    display:none;
}

.body
{
    width:95%;
    margin:0 auto 0 auto;
}
@media screen and (max-width: 700px)
{
    .body
    {
        width:100%;
    }
}

.gwt-card
{
    display:inline-block;
    min-width:300px;
    max-width:80%;

    margin-top:10px;

    position:relative;
    left:50%;
}

.group
{
    background-color:#ef9a9a;
    padding-left:5px;
    padding-right:5px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top:5px;
    margin-bottom:5px;

    position:relative;
    left:-50%;
}
.card-wrapper.passing .group
{
    background-color:#81c784;
}

.group.given
{
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}

.group.then
{
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

.group .row
{
    border-bottom:1px dashed rgba(105,105,105,0.4);
    display:flex;
    padding-top:3px;
    padding-bottom:3px;
}
.group .row:last-child
{
    border-bottom:none;
}

.group label
{
    display:inline-block;
    width:70px;
    min-width:70px;
    text-align:right;
    font-weight:bold;
    flex-grow:0;
    font-size:19px;
}

.group span
{
    padding-left:5px;
    padding-right:20px;
    flex-grow:1;
    font-size:19px;
}
.group span:focus
{
    outline:none;
}

i.button
{
    line-height:0;
    cursor:pointer;
    color:rgba(96, 125, 139, 0);
    transition:color .25s;
}
.card-wrapper:hover i.button, .card-wrapper:hover + .add-card i.button, .add-card:hover i.button
{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.14);
    color:rgba(96, 125, 139, 1);
    transition:color .25s;
}
i.button:hover
{
    transform:scale(1.2);
    transition:transform .1s !important;
}
i.button:active
{
    transform:scale(1);
    transition:transform .1s !important;
}

.remove-card
{
    position:absolute;
    left:-61%;
    top:50%;
}

.check-off
{
    position:absolute;
    left:52%;
    top:50%;
}

.add-card
{
    text-align:center;
    padding-top:10px;
}

@media screen and (max-width: 800px)
{
    .card-wrapper i.button, .add-card i.button
    {
        text-shadow: 2px 2px 2px rgba(0,0,0,0.14);
        color:rgba(96, 125, 139, 1);
    }
}